PracticaWS/VentanaXMLWS/Connected Services/PracticaWS/PracticaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="LeeXML">
        <s:complexType />
      </s:element>
      <s:element name="LeeXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LeeXMLResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LeeXMLSoapIn">
    <wsdl:part name="parameters" element="tns:LeeXML" />
  </wsdl:message>
  <wsdl:message name="LeeXMLSoapOut">
    <wsdl:part name="parameters" element="tns:LeeXMLResponse" />
  </wsdl:message>
  <wsdl:portType name="PracticaWSSoap">
    <wsdl:operation name="LeeXML">
      <wsdl:input message="tns:LeeXMLSoapIn" />
      <wsdl:output message="tns:LeeXMLSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PracticaWSSoap" type="tns:PracticaWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LeeXML">
      <soap:operation soapAction="http://tempuri.org/LeeXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PracticaWSSoap12" type="tns:PracticaWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LeeXML">
      <soap12:operation soapAction="http://tempuri.org/LeeXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PracticaWS">
    <wsdl:port name="PracticaWSSoap" binding="tns:PracticaWSSoap">
      <soap:address location="http://localhost:51735/PracticaWS.asmx" />
    </wsdl:port>
    <wsdl:port name="PracticaWSSoap12" binding="tns:PracticaWSSoap12">
      <soap12:address location="http://localhost:51735/PracticaWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>